/* --dark-purple: #32021fff;
--indian-red: #c95d63ff;
--tan: #d5b78bff;
--cornflower-blue: #7796cbff;
--space-cadet: #2d3047ff; 
E8DDB5
https://coolors.co/2e294e-037171-7899d4-002400-e8ddb5-273b09

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courgette", cursive;
    
}
body {
  background-color: #7796cbff;
}
.bg-light {
    background-color: #E8DDB5!important;
  }
h1 {
  color: #2d3047ff;
}
img {
    width: 100%;
}
.home-image {
    width: 1000px;
    max-height: 900px;
    border: thick red;
    color: white;
    position: relative;
  
}
.section-1 {
    display: flex;
    width: vw;
    justify-content: center;
}

.home-heading {
    position: absolute;
    top: 30%;
    left: 20px;

    padding-left: 20px;
    margin-right: 50%;
    font-size: 50px;
    /* top: 40%;
    left: 40%;
    font-size: 50px;
    transform: translate(-50%, -50%); */
  }

  .navbar-light .navbar-nav .nav-link {
        font-size: 1.5em;
  }


  .rec-container {
      display: flex;
      justify-content: space-around;
      border: 5px solid black;
      width: 100%;
      flex-wrap: wrap;
    flex-direction: row;
    
  }
  .rec-book {
    /* height: 200px; */
    margin: 20px;
    height: 400px;
    border: 8px solid #7796cbff;
    justify-content: center;


  }
  .rec-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      flex: auto;

  }

  .book {
    width: 300px;
    border: 8px solid #2d3047ff;;
    background-color: #2d3047ff;;
    justify-content: center;
    /* margin: 20px auto; 
    fix later for small screen 
    */
    margin: 20px;
      }


  .description {
      border: 5px solid #E8DDB5;
      background-color: #E8DDB5;
      text-align: center;
      margin: 8px;

  }
  h6, p{
    color: #2d3047ff;
  }

  p {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Courgette', cursive; */
    
    /* font-family: 'Dongle', sans-serif; */
    font-family: 'Courgette', cursive;
  /* font-family: 'Dongle', sans-serif;
   */
  }
  h6 {
    font-size: 20px;

  }

  .rec {
      display: flex;
      flex-wrap: wrap;
      justify-content:   center;
  }


.about-contain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-text {
  /* border: 5px solid black; */
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.about-image{
  /* border: 5px solid black; */
  display: flex;
  width: 40%;
}

#po {
  width: 100%;
  object-fit:contain;
  margin: 50px;
}

.checked {
  color: #2d3047ff;
}

.unchecked {
  color: white;
}
.rating{
  font-size: 30px;
  color: #2d3047ff;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 30px;
}

h1 {
  font-family: 'Courgette', cursive;
  margin: 10px;
  font-size: 50px;
  text-align: center;
}